{% load static %}
<div class="bg-dark-green">
    <div class="container mx-auto p-10 text-white">
        <a class="w-full" href="/"><img class="h-14 mx-auto mb-12" src="{% static 'img/funbit-transparent-hvit.png'  %}" alt=""></a>
        <div class="grid grid-cols-4 gap-4">
            <ul>
                <li class="font-bold"><a href="http://funbit.no/">Besøksadresse</a></li>
                <li class="font-light">Supergate 1 <br>Bergen</li>
            </ul>
            <ul>
                <li class="font-bold"><a href="http://funbit.no/">Besøksadresse</a></li>
                <li class="font-light">Supergate 1 <br>Bergen</li>
            </ul>
            <ul>
                <li class="font-bold"><a href="http://funbit.no/">Besøksadresse</a></li>
                <li class="font-light">Supergate 1 <br>Bergen</li>
            </ul>
            <ul>
                <li class="font-bold"><a href="http://funbit.no/">Besøksadresse</a></li>
                <li class="font-light">Supergate 1 <br>Bergen</li>
            </ul>
        </div>
    </div>
</div>